<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Published</th>
          <th>Title</th>
          <th>Game</th>
          <th>User</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody id="admins-reviews">
        <% @reviews.each do |review| %>
          <tr>
            <td><%= object_date_joined(review) %></td>
            <td><%= review.title %></td>
            <td><%= review.video_game.title %></td>
            <td><%= review.user.full_name %></td>
            <td><%= review.user.email %></td>
            <td><%= button_to "Show", review_path(review), id: "admin-show-review-#{review.id}", class: "btn btn-secondary", method: :get %></td>
            <td><%= button_to "Delete", admins_review_path(review), id: "admin-delete-review-#{review.id}", data: { confirm: "Are you sure?" }, class: "btn btn-danger", method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
