<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Joined</th>
          <th>Name</th>
          <th>Email</th>
          <th># Video Games</th>
          <th># Reviews</th>
        </tr>
      </thead>
      <tbody id="admins-users">
        <% @all_users.each do |user| %>
          <tr>
            <td><%= object_date_joined(user) %></td>
            <td><%= user.full_name %></td>
            <td><%= user.email %></td>
            <td><%= link_to user.video_games.count, admins_user_video_games_path(user) %></td>
            <td><%= link_to user.reviews.count, admins_user_reviews_path(user) %></td>
            <td><%= button_to "Show", admins_user_path(user), id: "admin-show-user-#{user.id}", class: "btn btn-secondary", method: :get %></td>
            <td><%= button_to "Delete", admins_user_path(user), id: "admin-delete-user-#{user.id}", data: { confirm: "Are you sure?" }, class: "btn btn-danger", method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
