<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Published</th>
          <th>Title</th>
          <th>User</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody id="admins-video-games">
        <% @all_video_games.each do |game| %>
          <tr>
            <td><%= object_date_joined(game) %></td>
            <td><%= game.title %></td>
            <td><%= game.user.full_name %></td>
            <td><%= game.user.email %></td>
            <td><%= button_to "Show", video_game_path(game), id: "admin-show-video-game-#{game.id}", class: "btn btn-secondary", method: :get %></td>
            <td><%= button_to "Delete", video_game_path(game), id: "admin-delete-video-game-#{game.id}", data: { confirm: "Are you sure?" }, class: "btn btn-danger", method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
