<h1>Administrators Console</h1>
<%= render 'search' %>
<h3>Reviews</h3>
<%= render 'reviews/reviews' %>
<%= render 'search' %>
<h3>Video Games</h3>
<%= render 'video_games/games' %>
<%= render 'search' %>
<h3>Users</h3>
<%= render 'users' %>
