<h1>Administrators Console</h1>

<h3>Reviews</h3>
<%= render 'search' %>
<%= render 'reviews' %>

<h3>Video Games</h3>
<%= render 'search' %>
<%= render 'video_games' %>

<h3>Users</h3>
<%= render 'search' %>
<%= render 'users' %>
