<h1>Administrators Console</h1>
<h3>Reviews</h3>
<h5 id="review-notice"></h5>
<%= render 'admins/reviews/search' %>
<%= render 'reviews' %>

<h3>Video Games</h3>
<h5 id="video-game-notice"></h5>
<%= render 'admins/video_games/search' %>
<%= render 'video_games' %>

<h3>Users</h3>
<h5 id="user-notice"></h5>
<%= render 'admins/users/search' %>
<%= render 'users' %>
