<% if @reviews.empty? %>
  <h3>No reviews have been created yet.</h3>
<% end %>
<div class="object-list">
  <% @reviews.each do |review| %>
    <div class="review-block col-sm-8 col-md-4 col-lg-4">
      <% if controller_path == 'reviews' %>
        <h5><strong>Game - <%= review.video_game.title %></strong></h5>
      <% end %>
      <%= link_to review.title, review_path(review.id) %>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <span class="badge voting-parameters">
            <%= button_to vote_review_path(review, vote: 1), id: "up-vote-review-#{review.id}", method: :post, disabled: review.voted_thumbs_up?(current_user), class: "btn btn-default" do %>
              <i class="fa fa-thumbs-up"></i>
            <% end %>
            <p><%= review.total_rating %></p>
            <%= button_to vote_review_path(review, vote: -1), id: "down-vote-review-#{review.id}", method: :post, disabled: review.voted_thumbs_down?(current_user), class: "btn btn-default" do %>
              <i class="fa fa-thumbs-down"></i>
            <% end %>
        </span>
        </div>
      </div>
    </div>
  <% end %>
