<%= form_for([@game, @review_for_form]) do |f| %>
  <%= error_messages(@review_for_form) %>

  <div class="field">
    <%= f.label :title, "Title"%><br />
    <%= f.text_field :title, autofocus: true, required: true, size: '50' %>
  </div>

  <div class="field">
    <%= f.label :review, "Review"%><br />
    <%= f.text_area :review, required: true, size: '60x7' %>
  </div>

  <div class="form-group">
    <%= f.label :platforms %>
    <div class='row'>
      <div class="col-sm-6 col-sm-offset-3">
        <%= f.collection_check_boxes(:platforms, Platform.all, :id, :name, include_hidden: false) do |b| %>
          <div class="col-sm-4">
            <%= b.label { b.check_box(checked: @review_for_form.platform_ids.include?(b.value)) + b.text } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :rating, "(1 worst - 5 best) Rating: #{@review_for_form.rating}", class: "range-label"  %>
    <%= f.range_field :rating, class: "range-field", in: 1..5, step: 1 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
