<header class="main-header">
  <a class="logo" href="/">Video Game Reviews</a>
  <nav class="navbar navbar-static-top" role="navigation">
    <% if user_signed_in? %>
      <div class= "header-buttons-div">
        <%= link_to "All Games", video_games_path, class: "btn btn-default header-buttons" %>
        <%= link_to "Create New Game", new_video_game_path, class: "btn btn-default header-buttons" %>
      </div>
    <% end %>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="footer">
          <% if !user_signed_in? %>
            <div class="btn-group" role="group">
              <%= link_to 'Sign In', new_user_session_path, class: "btn btn-default" %>
              <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-default" %>
            </div>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="dropdown user user-menu">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <img alt="User Image" class="user-image" src="http://placehold.it/160x160" />
            <span class="hidden-xs"><%= "#{current_user.first_name} #{current_user.last_name}" %> </span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img class="img-circle" alt="User Image" src="http://placehold.it/160x160"> </img>
                <p>
                  <%= "#{current_user.first_name} #{current_user.last_name}" %>
                  <small>Member since <%= current_user_date_joined %></small>
                </p>
              </li>
              <li class="user-footer">
                <%= link_to 'My Games', user_games_path, class: "btn-sm btn-default" %>
                <%= link_to 'My Reviews', user_reviews_path, class: "btn-sm btn-default" %>
                <%= link_to 'Edit Account', edit_user_registration_path, class: "btn-sm btn-default" %>
                <%= link_to 'Sign Out', destroy_user_session_path, class: "btn-sm btn-default", :method=>'delete' %>
              </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
